.bullets__content {
  padding-top: var(--padding-xl);
}

.bullets__content--extra-padding {
  padding-bottom: var(--padding-xl);
}

.bullets__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(500px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: var(--gap-md) var(--gap-lg);
}

.bullets__item {
  border-radius: var(--radius-lg);
  border: var(--border-h-md) solid var(--color-blue-main);
  padding: var(--padding-lg);
  line-height: var(--lh-lg);
}

.bullets__item--variant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--padding-md);
  border: none;
  border-radius: var(--radius-sm);
  padding: var(--padding-md);
  background-color: var(--color-grey-light);
  line-height: var(--lh-md);
}

.bullets__icon {
  width: var(--fs-md);
  height: var(--fs-md);
}
