.footer {
  border-top: var(--border-h-md) solid var(--color-regular);
  background-color: var(--color-white);
  padding: var(--padding-md);
}

.footer__content {
  gap: var(--gap-md);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--gap-lg);
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap-md);
}

.footer__link {
  color: var(--color-regular);
  font-size: var(--fs-sm);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__link--main {
  color: var(--color-orange);
  font-weight: 600;
}

.footer__button {
  font-size: var(--fs-sm);
}
