.footer {
    border-top: var(--border-h-md) solid var(--color-regular);
    background-color: var(--color-white);
    padding: var(--padding-lg);

    &__content {
        gap: var(--gap-md);
        flex-direction: row;
    }

    &__item {
        display: flex;
        align-items: flex-start;
        gap: var(--gap-lg);
    }

    &__menu {
        display: flex;
        gap: var(--gap-md);
        flex-wrap: wrap;
    }

    &__link {
        color: var(--color-regular);
        font-size: var(--fs-sm);
        text-align: center;
        display: flex;
        align-items: center;
    }

    &__link--main {
        color: var(--color-orange);
        font-weight: 600;
    }

    &__button {
        font-size: var(--fs-sm);
    }
}
