* {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

h1,h2,p {
    padding: 0;
    margin: 0;
}


a {
    text-decoration: none;
}

.logo {
    line-height: 0;
}

.poligon-bg {
    position: relative;
    z-index: 0;

    &::before {
        content: '';
        position:absolute;
        top: -5%;
        left: -5%;
        right: -5%;
        bottom: -5%;
        border-radius: var(--radius-sm);
        transform: skew(-20deg);
        background: linear-gradient(90deg, var(--color-blue-main) 0%, var(--color-blue-second) 100%);
        z-index: -1;
    }
}

.headline {
    font-size: var(--fs-lg);
    font-weight: 700;
    color: var(--color-blue-main);
    position: relative;
    margin-bottom: 60px;
    
    &::after {
        content: '';
        width: 70px;
        height: 4px;
        background-color: var(--color-orange);
        position: absolute;
        top: calc(100% + 20px);
        left: 0;

    }
}

.paragraph {
    line-height: var(--lh-lg);
}


.container {
    display: flex;
    justify-content: center;
}

.content {
    max-width: var(--max-size);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding: var(--padding-base);
}

$breakpoints: (
    "sm": 576px,
    "md": 768px,
    "lg": 1200px,
);

@mixin respond-to($breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

:root {
    // цвета
    --color-blue-main: #005baa;
    --color-blue-second: #1a7bbf;
    --color-orange: #f27028;
    --color-regular: #333;
    --color-grey: #888;
    --color-grey-light: #f6f6f6;
    --color-white: #fff;

    // гэп
    --gap-lg: 40px;
    --gap-md: 20px;
    --gap-sm: 10px;

    // паддинг
    --padding-xl: 80px;
    --padding-lg: 40px;
    --padding-md: 20px;
    --padding-base: 10px 20px;

    // радиус
    --radius-lg: 24px;
    --radius-sm: 8px;

    // размер шрифта
    --fs-xl: 3rem;
    --fs-lg: 2.25rem;
    --fs-md: 2rem;
    --fs-base: 1rem;
    --fs-sm: 0.75rem;

    // межстрочный интервал
    --lh-lg: 2;
    --lh-md: 1.6;

    // ширина
    --max-size: 1440px;

    // бордер
    --border-h-lg: 4px;
    --border-h-md: 2px;

}

@include respond-to("md") {
    :root {
        --fs-xl: 3rem;
        --fs-lg: 2.25rem;
        --fs-md: 2rem;
        --fs-base: 1rem;
        --fs-sm: 0.75rem;
    }
}

@include respond-to("lg") {
    :root {
        --fs-xl: 4rem;
        --fs-lg: 2.5rem;
        --fs-md: 2.25rem;
        --fs-base: 1.25rem;
        --fs-sm: 1rem;
    }
}

.orange {
    color: var(--color-orange);
}
