@import "./css/normalize";
@import "./css/root.scss";
@import "./css/font";
@import "./css/button";
@import "./css/header";
@import "./css/collage.scss";
@import "./css/offer.scss";
@import "./css/bullets.scss";
@import "./css/tagline.scss";






.goods {
    &__content {
        padding-top: var(--padding-xl);
        padding-bottom: var(--padding-xl);
    } 

    &__grid {
        display: grid;
        gap: var(--gap-lg);
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    &__item {
        padding: var(--padding-lg);
        border-radius: var(--radius-sm);
        border: var(--border-h-md) solid var(--color-grey-light);
    }

    &__image {
        object-fit: cover;

        width: 100%;
        height: 100%;
    }
}
