@import "./css/normalize";
@import "./css/root";
@import "./css/font";
@import "./css/button";
@import "./css/header";
@import "./css/collage";
@import "./css/offer";
@import "./css/bullets";
@import "./css/tagline";
@import "./css/goods";
@import "./css/info";
@import "./css/block";
@import "./css/form";
@import "./css/footer";

.modal {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;

    &__window {
        padding: var(--padding-xl) var(--padding-lg);
        background-color: var(--color-white);
        border-radius: var(--radius-lg);
        max-width: 350px;
        position: relative;
    }

    &__close {
        position: absolute;
        right: 20px;
        top: 20px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 24px;
        height: 18px;
        cursor: pointer;
        z-index: 10;
        margin-left: auto;

        span {
            display: block;
            width: 100%;
            height: 2px;
            background-color: var(--color-blue-main);
            transition: all 0.3s ease;
        }

        span:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }

        span:nth-child(2) {
            transform: translateY(-8px) rotate(-45deg);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--gap-md);
        color: var(--color-regular);
        text-align: center;
    }

    &__headline {
        font-size: var(--fs-md);
        color: var(--color-orange);
        font-weight: 600;
    }

    &__text {
        font-size: var(--fs-sm);
    }

    &__button {
        width: max-content;
    }
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
}
